header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.navbar .navbar-brand {
  padding-left: 20px;
  color: #6f6f6f;
}
.navbar .collapse {
  text-align: center;
  padding-left: 200px;
}
.navbar ul {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
  font-size: 16px;
}
.navbar a {
  color: #6f6f6f;
}

.header-social-links {
  padding-right: 15px;
}
.header-social-links a {
  color: #6f6f6f;
  padding-left: 6px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 16px;
  align-items: center;
}

#main-content {
  background-image: url("../img/lientran.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 60px 0;
  margin: 0;
}
#main-content .container {
  padding-top: 20vh;
  padding-left: 10vw;
  margin-left: 0px;
  position: relative;
  text-align: left;
}
.container {
  font-family: "Raleway", sans-serif;
}

#main-content h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: lightblue;
}
#main-content h2 {
  color: lightblue;
  margin: 10px 0 0 0;
  font-size: 22px;
}
#main-content button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #34b7a7;
}
footer {
  text-align: center;
}
