main div {
  display: flex;
}
.main-content {
  padding: 10px;
}

main li {
  list-style-type: none;
}
main li a {
  text-decoration: none;
  padding-left: 15px;
  color: #57657a;
}
main ul {
  display: flex;
}
