html,
body,
#root,
.App,
#App > div {
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #7b66ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 767px) {
  .bg-image {
    display: none;
  }
}
.App .bg-image {
  justify-content: center;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: -1;
}

.content-container {
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Prosto One", sans-serif;
}
.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
p {
  font-size: 30px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.me-auto {
  text-align: center;
  margin: auto;
}

/* span {
  color: #44cce1;
} */
Nav.Link {
  font-size: 48px;
}

/* .test {
  color: transparent !important;
} */
.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.navBarLink {
  margin-right: 30px;
}
.btn-component {
  color: #fff;
  background-color: #ff9559;
  border: none;
  border-radius: 10px;
  width: auto;
  /* height: 25px; */
}

.btn-nav {
  color: #fff;
  background-color: #44cce1;
  border: none;
  border-radius: 5px;
  width: auto;
  height: 35px;
}

.btn-main {
  color: #fff;
  background-color: #ff9559;
  border: none;
  border-radius: 5px;
  width: auto;
  height: 35px;
}
