@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-on-image {
  position: absolute;
  color: black;
  margin-left: 90px;
}

img {
  background-image: url("https://images.freeimages.com/images/large-previews/493/sunset-1359742.jpg");

  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
header,
p {
  font-size: 30px;
}

.btn-container {
  position: absolute;
  top: 200px;
  left: 0px;
  display: flex;
  margin-left: 90px;
  margin-top: 20px;
}
.me-auto {
  text-align: center;
  margin: auto;
}
